@import "./global";

.page_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    padding-top: 3rem;

    .winner {
        color: #95fb65;
    }
}
