nav {
    padding: 0 1rem;
}

.nav-title {
    color: #707b88;
}
.nav-title:hover {
    text-decoration: underline;
}

p {
  margin: 0 auto 1rem;
  max-width: 50rem;
  text-align: center;
}

a {
  display: inline-block;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0 0.5rem;
  min-width: 16rem;
  padding: 1rem;
  border-radius: 0.25rem;
  color: #707b88;
  text-decoration: none;
}

a:hover {
    color: #272c35;
    background: linear-gradient(178deg, #e4f5fc 20%,#bfe8f9 50%,#41a9ea 80%);
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    -webkit-background-clip: text;
}

.rule {
    background-color: #4d555e;
    margin: 0 auto 1rem;
    position: relative;
    width: 40rem;
    height: 2px;
}

.bell {
    cursor: pointer;
    margin: -0.5rem 0 0 1rem;
    position: absolute;
    left: 100%;
}
