@import './variables';

html {
    font-size: 16px;
}
body {
    background-color: $bg0;
    color: white;
    font-family: "Bungee", cursive;
    height: 100vh;
    padding: 0;
    margin: 0;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: #65bafb;
}
