@import "./global";
@import "./variables";

.grid {
    position: absolute;
    top: $navbar-height;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;

    @media only screen and (max-width: 800px) {
        font-size: 1.25rem;
    }
    @media only screen and (max-width: 425px) {
        font-size: 1rem;
    }

    .name-wrapper {
        position: relative;

        @media only screen and (max-width: 800px) {
            min-width: 33.3%;
        }
        @media only screen and (max-width: 300px) {
            min-width: 50%;
        }

        .name {
            background-color: $bg1;
            color: $link-color;
            display: flex;
            justify-content: center;
            align-items: center;

            position: absolute;
            top: 0.5rem;
            left: 0.5rem;
            bottom: 0.5rem;
            right: 0.5rem;

            border-radius: 0.5rem;

            // TODO generalize winner styles better, reduce duplication
            &[data-highlight-1="true"] {
                background-color: #6a5b0c;
                color: white;
            }
            &[data-highlight-2="true"] {
                background-color: #616161;
                color: white;
            }

            &[data-winner-1="true"] {
                box-shadow: 0 0 50px 10px #FFD700 inset;
                text-shadow: 1px 1px 0 #FFD700;
                color: #FFD700;
                font-size: 1.4em;
                text-shadow: 1px 1px 0 #d9c34d, 2px 2px 0 #c2b04e, 3px 3px 0 #9e8e3a, 4px 4px 0 #948539;
                transition: all 1s ease;
            }
            &[data-winner-2="true"] {
                box-shadow: 0 0 50px 10px #c0c0c0 inset;
                text-shadow: 1px 1px 0 #c0c0c0;
                color: #c0c0c0;
                font-size: 1.4em;
                text-shadow: 1px 1px 0 #b6b6b6, 2px 2px 0 #ababab, 3px 3px 0 #9a9a9a, 4px 4px 0 #8f8f8f;
                transition: all 1s ease;
            }
        }
    }

    .stop-btn-wrapper {
        width: 100%;
        position: relative;

        .stop-btn {
            display: flex;
            justify-content: center;
            align-items: center;

            position: absolute;
            top: 0.5rem;
            left: 0.5rem;
            bottom: 0.5rem;
            right: 0.5rem;

            background-color: $stop-color;
            color: white;

            cursor: pointer;
            border-radius: 0.5rem;
        }
    }

    &.stopping {
        .stop-btn-wrapper {
            .stop-btn {
                background-color: $bg1;
                color: $link-color;
            }
        }
    }
}
