@import "./global";
@import "./variables";

.page-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding-top: 3rem;

    .winner {
        color: #95fb65;
    }
}
